<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/services.css">
</head>

<body>
    <div class="section__container class__container" id="class">
        <h2 class="section__header">Our services</h2>
        <p class="section__description ">
            Welcome to our website, where we offer a range of services to optimize your computing experience. From SJF
            (Shortest Job First) calculator to solving the Dining Philosophers problem, and from implementing C-Look
            disk scheduling to mastering FIFO page replacement algorithm, we've got you covered. Streamline your
            processes and enhance your efficiency with our tailored solutions.

        </p>
        <div class="class__grid">
            <div class="class__card class__card1">
                <img src="/images/dot-bg.png" alt="bg" class="class__bg">
                <img src="/images/5678.jpeg" class="fifo" alt="class">
                <div class="class__content">
                    <h4>Shortest Job First</h4>
                    <div class="button btn1"> <a href="/services/sjf"><button class="btn-btn">Click Here</button></a></div>
                </div>
            </div>
            <div class="class__card">
                <img src="/images/dot-bg.png" alt="bg" class="class__bg">
                <img src="/images/b.jpeg" class="dine" alt="class">
                <div class="class__content">
                    <h4>Dining Philosophers Problem</h4>
                    <div class="button btn1"> <a href="/services/dp"><button class="btn-btn">Click Here</button></a></div>
                </div>
            </div>
            <div class="class__card">
                <img src="/images/dot-bg.png" alt="bg" class="class__bg">
                <img src="/images/a.jpeg" class="disk" alt="class">
                <div class="class__content">
                    <h4>C-Look Disk Scheduling Algorithm</h4>
                    <div class="button"> <a href="/services/clook"><button class="btn-btn">Click Here</button></a></div>
                </div>
               
            </div>
            <div class="class__card">
                <img src="/images/dot-bg.png" alt="bg" class="class__bg">
                <img src="/images/c.jpeg" class="fifo" alt="class">
                <div class="class__content">
                    <h4>First-In-First-Out Page Replacement Algorithm</h4>
                    <div class="button"> <a href="/services/fifo"><button class="btn-btn">Click Here</button></a></div>
                </div>
                
            </div>
        </div>
       
    </div>
</body>

</html>